<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Agency</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333333FF;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">name</th>
        <th scope="col">country</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="agency: ${getAllAgencies}">
        <td th:text="${agency.id}"></td>
        <td th:text="${agency.name}"></td>
        <td th:text="${agency.country}"></td>
        <td th:text="${agency.phoneNumber}"></td>
        <td th:text="${agency.email}"></td>
        <td>
            <a th:href="@{/update/{agencyId}(agencyId=${agency.getId()})}">
                <button>Update</button>
            </a>
        </td>

        <td>
            <a th:href="@{/delete/{agencyId}(agencyId=${agency.getId()})}"
               onclick="return confirm('Are you sure to delete this company?');">
                <button>Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<input style="display: block; margin: auto; font-size: 50px" type="button" value="Add company"
       onclick="window.location.href = 'new'">>
</body>
</html>